* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: sans-serif;
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: sans-serif;
}

h3 {
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
  margin-bottom: 2rem;
  font-size: 1rem;
}

h4 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 1rem;
}

p {
  text-align: center;
  font-size: 1rem;
  padding-inline: 1.5rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6rem;
  color: #6c757d !important;
}

.btn {
  background-color: #ffc800;
  border-color: #ffc800;
  padding: 1.25rem 2.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #d9aa00;
  color: #fff;
  cursor: pointer;
}

.section-title-container {
  line-height: 2.5rem;
}
.container {
  padding-inline: 8rem;
}

/* === nav-bar styles === */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #212529;
  /* position: relative; */
}

.nav-logo .logo {
  height: 160px;
  width: 160px;
}

.nav-items {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 30px;
}

.nav-items .nav-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-size: 0.9rem;
  font-weight: 300;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #ffc800;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
  display: none;
}

.menu-btn div {
  background: #fff;
  height: 3px;
  width: 23px;
  transition: 0.3s;
}

.active .line--1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.active .line--2 {
  opacity: 0;
}

.active .line--3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

/* === header sectoion styles ===*/
.head {
  width: 100%;
  height: 665px;
  background-image: url(img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  margin: 0px auto;
  display: flex;
}

.middle-header {
  color: white;
  text-align: center;
  line-height: 5.2rem;
  width: 860px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.middle-header .wellcome-text {
  font-size: 2.25rem;
  font-style: italic;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

.middle-header .heading-text {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  text-align: center;
}

/* === Service style === */
.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-inline: 5rem;
}

.services .section--1 {
  text-align: center;
  line-height: 3.2rem;
  margin-top: 60px;
}

.services .section--2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 13px;
}

.section--2 .box {
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.box .icon {
  font-size: 5rem;
  background: #ffc800;
  padding: 1.4rem 1.6rem;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
}

/* === portfolio stlyes === */
.portfolio-sec {
  padding-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.portfolio-sec .portfolio-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.portfolio-sec .projects {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
  padding-inline: 3.5rem;
}

.projects .project-box {
  background-color: white;
  text-align: center;
  padding-bottom: 1.5rem;
  position: relative;
}

.projects .project-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project-img {
  position: relative;
}

.project-box .project-img::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  height: 250px;
  background: #ffc800;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.project-box .project-img:hover::after {
  opacity: 0.85;
}

.project-img .vertical-line,
.horizental-line {
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  z-index: 10;
  transition: all 0.3s ease;
  opacity: 0;
}

.project-img .horizental-line {
  top: 50%;
  left: 5%;
  width: 55px;
  height: 10px;
}

.project-img .vertical-line {
  left: 50%;
  top: 5%;
  height: 55px;
  width: 10px;
}

.project-img:hover .horizental-line {
  left: 50%;
  opacity: 1;
}

.project-img:hover .vertical-line {
  top: 50%;
  opacity: 1;
}

/* === About styles === */
.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.about-section .contianer {
  width: 960px;
  height: 1750px;
}

.contianer .about-title {
  text-align: center;
  margin-top: 6rem;
  line-height: 3rem;
}

.timeline {
  width: 100%;
}

.timeline .timeline-items {
  height: 290px;
  width: 100%;
  position: relative;
  margin-top: 4rem;
}

.timeline-img img,
.final-timeline {
  width: 150px;
  height: 150px;
  border: 7px solid #e9ecef;
  border-radius: 50%;
  position: absolute;
  left: 420px;
}

.timeline-content {
  width: 370px;
  height: 100%;
}

.timeline-items::after {
  content: " ";
  display: block;
  background-color: #e9ecef;
  width: 3px;
  height: 330px;
  position: absolute;
  top: 148px;
  left: 492px;
}

.content--1,
.content--3 {
  position: absolute;
  text-align: right;
  top: -0.8rem;
  left: 1rem;
}

.content--2,
.content--4 {
  position: absolute;
  top: -0.8rem;
  right: -1rem;
}

.timeline-text--r {
  text-align: right;
}

.timeline-text--l {
  text-align: left;
}

.final-timeline {
  background-color: #ffc800;
  color: #f8f9fa;
  text-align: center;
  border: 7px solid #e9ecef;
  position: relative;
  left: 422px;
  top: 6rem;
}

.final-timeline span {
  margin: 0px 4px;
  font-size: 1.2rem;
  position: relative;
  font-weight: 600;
  top: 2.5rem;
}

/* === Team section styles === */
.team-section {
  width: 100%;
  background-color: #f8f9fa;
  padding-inline: 5.5rem;
  padding-bottom: 5rem;
}

.team-title {
  text-align: center;
  padding-top: 5rem;
  line-height: 2.5rem;
}

.team-members {
  display: flex;
  place-items: center;
}

.team-members .member-content {
  flex-grow: 1;
  width: 320px;
  text-align: center;
}

.member-content img {
  width: 14.3rem;
  height: 14.3rem;
  border: 7px solid #dfe0e1;
  border-radius: 50%;
}

.member-content p {
  line-height: 1.75;
  font-size: 1rem;
}

svg {
  margin: 1rem 0.5rem;
  transition: all 0.2s ease;
}

svg:hover path {
  fill: #f8f9fa;
}

svg:hover {
  background-color: #ffc800;
  border-radius: 50%;
  cursor: pointer;
}

.team-about {
  text-align: center;
  padding: 0 210px;
  padding-top: 2rem;
}

.team-about p {
  line-height: 1.75;
  word-spacing: 0.2rem;
  font-size: 0.9rem !important;
}

/* === client section styles ===*/
.client-section {
  height: 150px;
  width: 100%;
}

.client-section .client-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo img {
  width: 300px;
  height: 45px;
  object-fit: contain;
}

img:hover {
  cursor: pointer;
}

/* === contact section styles ===*/
.contact-section {
  width: 100%;
  text-align: center;
  background-color: #212529;
  color: #fff;
  background-image: url(img/map-image.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 6rem 7rem 5rem;
  margin: 0px auto;
}

.contact-section .contact-title {
  line-height: 3rem;
}

.contact-section .contact-form {
  width: 100%;
  height: 360px;
  display: flex;
  padding-top: 12px;
}

.contact-form .form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.form .input-container {
  display: flex;
  gap: 1rem;
  position: relative;
}

.input-container .right-form {
  flex-grow: 1;
  padding-top: 1.35rem;
}
.input-container .left-form {
  flex-grow: 1;
}

.contact-section .contact-form .input {
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  height: 70px;
  margin: 1.5rem 0px;
  width: 100%;
  display: block;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #d1d4da;
  font-size: 1.1rem;
  font-weight: bold;
}
/* .contact-section .contact-form {
  width: 50%;
  height: 100%;
  padding: 37px 15px 65px 20px;
} */

.contact-section .contact-form .message-text {
  display: block;
  width: 100%;
  height: 91%;
  min-height: 10rem;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  padding: 1.25rem;
}

.form .send-btn {
  width: 100%;
  width: 250px;
  padding: 1.25rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

/* === footer section styles ===*/
.footer-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}

.footer-section .left-contents {
  display: flex;
  justify-content: space-between;
  padding-top: 1.1rem;
}

.footer-section .left-contents p {
  line-height: 1;
  color: black;
  word-spacing: 2px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.footer-section .right-contents {
  width: 250px;
  display: flex;
  gap: 55px;
  padding-top: 1.1rem;
  font-size: 0.8rem;
}

.footer-icon {
  margin-top: 0px;
}
.link2 {
  color: #d9aa00;
}

.footer-section .right-contents .link {
  color: #212529;
}

/* === Making Responsive === */

@media (max-width: 890px) {
  .container {
    padding-inline: 6rem;
  }
  .nav-bar {
    padding-top: 1rem;
    height: 5rem;
  }

  .nav-items {
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    padding-block: 2rem;
    padding-left: 6.7rem;
    background-color: #212529;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.5s;
  }

  .open-menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .nav-logo .logo {
    height: 180px;
    width: 180px;
  }

  .nav-items .nav-link {
    font-size: 1rem;
    font-weight: 400;
  }

  .menu-btn {
    display: flex;
  }

  .middle-header .heading-text {
    font-size: 4rem;
  }

  .services {
    padding-inline: 3rem;
  }

  .service-about {
    font-size: 0.8rem;
  }

  .timeline-img img,
  .final-timeline {
    height: 120px;
    width: 120px;
    left: 360px;
  }

  .timeline-content {
    width: 330px;
  }

  .content--2,
  .content--4 {
    right: 1rem;
  }

  .timeline-items::after {
    top: 120px;
    left: 420px;
    height: 350px;
  }

  .final-timeline span {
    font-size: 1rem;
    top: 2rem;
  }

  .team-section {
    padding-inline: 2rem;
  }

  .team-members {
    grid-template-columns: repeat(1fr);
    gap: 2rem;
  }

  .team-about {
    margin-top: 1rem;
    padding: 2rem 3rem;
  }

  .team-members {
    display: grid;
    grid-template-rows: repeat(3fr);
    gap: 2rem;
  }

  .team-members .member-content {
    margin-top: 1rem;
  }

  .company-logo img {
    width: 200px;
  }

  .contact-section {
    padding: 5rem 4rem;
  }

  .footer-section {
    flex-direction: column;
    align-items: center;
  }

  .footer-section .left-contents {
    flex-direction: column;
    align-items: center;
  }

  .footer-section .right-contents {
    justify-content: center;
    gap: 10px;
    padding-top: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 830px) {
  h4 {
    font-size: 1.1rem;
  }

  .middle-header .heading-text {
    font-size: 3rem;
  }

  .client-section .client-container {
    gap: 1rem;
  }

  .company-logo img {
    width: 150px;
  }
}

@media (max-width: 780px) {
  h4 {
    font-size: 1.6rem;
  }
  .container {
    padding-inline: 3rem;
  }

  .services {
    padding-inline: 1rem;
  }

  .portfolio-sec .projects {
    padding-inline: 1rem;
  }

  .timeline-img img,
  .final-timeline {
    height: 105px;
    width: 105px;
    left: 335px;
  }

  .timeline-content {
    width: 250px;
  }

  .timeline-items::after {
    top: 105px;
    left: 385px;
    height: 320px;
  }

  .content--2,
  .content--4 {
    top: 0;
    right: 4.5rem;
  }

  .content--1,
  .content--3 {
    top: 0;
    left: 4rem;
  }

  .final-timeline span {
    font-size: 1rem;
    top: 1.5rem;
  }

  .team-about {
    padding-inline: 1rem;
  }

  .company-logo img {
    width: 160px;
  }

  .footer-section {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .container {
    padding-inline: 1.5rem;
  }

  .head {
    height: 600px;
  }

  .services {
    padding-inline: 0;
    padding-bottom: 3rem;
  }

  .middle-header {
    width: 100%;
  }

  .middle-header .wellcome-text {
    font-size: 1.5rem;
    line-height: 1rem;
  }

  .middle-header .heading-text {
    font-size: 3.5rem;
  }

  .services .section--2 {
    display: flex;
    /* grid-template-columns: 1fr; */
    flex-direction: column;
    height: 1000px;
    padding-inline: 1rem;
  }

  .section--2 .box {
    font-size: 1rem;
  }

  .box .icon {
    padding: 1rem 1.2rem;
  }

  .service-about {
    font-size: 1.2rem;
  }

  .portfolio-sec .projects {
    padding-inline: 0;
  }

  .projects .project-box img {
    height: 350px;
  }

  .project-box .project-img::after {
    height: 350px;
  }

  .contianer .about-title {
    margin-top: 4rem;
  }

  .timeline-img img,
  .final-timeline {
    height: 105px;
    width: 105px;
    left: 30px;
  }

  .timeline-content {
    width: 350px;
  }

  .timeline-items::after {
    top: 105px;
    left: 80px;
    height: 320px;
  }

  .content--2,
  .content--4 {
    top: 0;
    left: 160px;
  }

  .content--1,
  .content--3 {
    text-align: left;
    top: 0;
    left: 10rem;
  }

  .timeline-text--r {
    text-align: left;
  }

  .final-timeline span {
    font-size: 1rem;
    top: 1.2rem;
  }

  .team-about {
    padding-inline: 0;
    font-size: 2rem;
  }

  .client-section {
    height: 500px;
  }
  .client-section .client-container {
    padding-block: 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .company-logo img {
    width: 300px;
    height: 70px;
    object-fit: contain;
  }

  .contact-section {
    padding-inline: 1rem;
    height: 900px;
  }

  .contact-form {
    flex-direction: column;
  }

  .contact-section .contact-form {
    width: 100%;
    flex-direction: column;
    /* height: 1000px; */
    padding-inline: 0;
    padding-top: 1rem;
  }
  .form .input-container {
    flex-direction: column;
    gap: 0;
  }
}
